{
    "plugins": ["prettier-plugin-tailwindcss", "@shufo/prettier-plugin-blade"],
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "printWidth": 120,
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "tabWidth": 4,
                "plugins": ["@shufo/prettier-plugin-blade"],
                "parser": "blade"
            }
        }
    ]
}
